@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
  background-color: #1E1E1E
}


a {
  color: inherit;
  text-decoration: none;
}
